body {
  margin: 0;
  background: #f4f6f8;
  font-family: Arial, sans-serif;
}

.navbar {
  background: #1e293b;
  color: white;
  padding: 20px;
}

.search-section {
  text-align: center;
  margin: 30px;
}

.search-section input {
  width: 350px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid gray;
}

.categories {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 30px;
}

.categories button {
  padding: 10px 20px;
  border: none;
  background: #2563eb;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.heading {
  text-align: center;
}

.event-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  padding: 20px;
}

.event-card {
  width: 320px;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 3px 12px rgba(0,0,0,0.15);
}

.event-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.event-card h3,
.event-card p {
  padding-left: 15px;
}

.event-card button {
  margin: 15px;
  padding: 10px 15px;
  border: none;
  background: #2563eb;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}